/* Globale styles her */
@layer global {

  /* === font === */

/* Cabin */
@font-face {
  font-family: "Cabinregular";
  src: url("../assets/font/Cabin/Cabin-Regular.ttf");
}

@font-face {
  font-family: "Cabinsemibold";
  src: url("../assets/font/Cabin/Cabin-semibold.ttf");
}

@font-face {
  font-family: "Cabinbold";
  src: url("../assets/font/Cabin/Cabin-bold.ttf");
}

/* Lato */
@font-face {
  font-family: "Latoregular";
  src: url("../assets/font/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Latobold";
  src: url("../assets/font/Lato/Lato-Bold.ttf");
}


  :root {
    --content-width: 1200px;
    --half: minmax(0, calc(var(--content-width) / 2));
  }

  body {
    margin-inline: auto;
  }

  main,
  header,
  footer {
    display: grid;
    grid-template-columns:
      [full-start] minmax(1rem, 1fr)
      [content-start] var(--half)
      [middle]
      var(--half) [content-end]
      minmax(1rem, 1fr) [full-end];
  }

  section {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full-start / -1;
    > :not(&) {
      grid-column: content;
    }
  }

  /* text  */
  h1 {
    font-family: var(--h1-font);
    font-size: var(--h1-size);
  }

  h2 {
    font-family: var(--h2-font);
    font-size: var(--h2-size);
  }

  h3 {
    font-family: var(--h3-font);
    font-size: var(--h3-size);
  }

  h4 {
    font-family: var(--h4-font);
    font-size: var(--h4-size);
  }

  p {
    font-family: var(--p-font);
    font-size: var(--p-size);
  }

  li {
    font-family: var(--li-font);
    font-size: var(--li-size);
  }

  button {
    font-family: var(--button-font);
    font-size: var(--button-size);
  }

  a {
    font-family: var(--a-font);
    font-size: var(--a-size);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--color-text);
  }
  li,
  p {
    color: var(--color-text-muted);
  }
}
