:root {
  /* ==== Colors ==== */
  /* PRIMITIVES */
  --color-yellow-500: #ffcc4a;
  --color-green-400: #a4eda4;
  --color-neutrals-50: #f9fafb;
  --color-neutrals-200: #eaedf1;
  --color-neutrals-900: #030712;
  --color-neutrals-700: #5a606f;
  --color-blue-700: #101828;
  --color-blue-700-transparent: rgba(16 24 40 / 0.9);
  --color-green-600: #4bb84b;
  --color-neutrals-100: #f9fafb;
  --color-neutrals-400: #99a1af;
  --color-yellow-600: #fbc336;

  /* TOKENS */
  --color-action: var(--color-yellow-500);
  --color-text: var(--color-neutrals-900);
  --color-text-muted: var(--color-neutrals-700);
  --color-surface-primary: #ffffff;
  --color-surface-secondary: var(--color-neutrals-50);
  --color-surface-tertiary: var(--color-neutrals-200);
  --color-surface-elevated: var(--color-blue-700);
  --color-surface-elevated-transparent: var(--color-blue-700-transparent);
  --color-ui-secondary: var(--color-green-400);
  --color-ui-secondary-alternative: var(--color-green-600);
  --color-on-surface-elevated: var(--color-neutrals-50);
  --color-ui-primary: var(--color-neutrals-900);
  --color-on-ui-primary: var(--color-neutrals-50);
  --color-text-weak: var(--color-neutrals-400);
  --color-surface-highlight: var(--color-yellow-600);
  --color-on-ui-primary-muted: var(--color-neutrals-400);

  /* ==== Spacing ==== */
  /* @link https://utopia.fyi/space/calculator?c=380,12,1.2,1200,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --space-3xs: clamp(0.1875rem, 0.1296rem + 0.2439cqi, 0.3125rem);
  --space-2xs: clamp(0.375rem, 0.2881rem + 0.3659cqi, 0.5625rem);
  --space-xs: clamp(0.5625rem, 0.4177rem + 0.6098cqi, 0.875rem);
  --space-s: clamp(0.75rem, 0.5762rem + 0.7317cqi, 1.125rem);
  --space-m: clamp(1.125rem, 0.8643rem + 1.0976cqi, 1.6875rem);
  --space-l: clamp(1.5rem, 1.1524rem + 1.4634cqi, 2.25rem);
  --space-xl: clamp(2.25rem, 1.7287rem + 2.1951cqi, 3.375rem);
  --space-2xl: clamp(3rem, 2.3049rem + 2.9268cqi, 4.5rem);
  --space-3xl: clamp(4.5rem, 3.4573rem + 4.3902cqi, 6.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.1875rem, 0.0137rem + 0.7317cqi, 0.5625rem);
  --space-2xs-xs: clamp(0.375rem, 0.1433rem + 0.9756cqi, 0.875rem);
  --space-xs-s: clamp(0.5625rem, 0.3018rem + 1.0976cqi, 1.125rem);
  --space-s-m: clamp(0.75rem, 0.3155rem + 1.8293cqi, 1.6875rem);
  --space-m-l: clamp(1.125rem, 0.6037rem + 2.1951cqi, 2.25rem);
  --space-l-xl: clamp(1.5rem, 0.6311rem + 3.6585cqi, 3.375rem);
  --space-xl-2xl: clamp(2.25rem, 1.2073rem + 4.3902cqi, 4.5rem);
  --space-2xl-3xl: clamp(3rem, 1.2622rem + 7.3171cqi, 6.75rem);

  /* Custom pairs */
  --space-s-l: clamp(0.75rem, 0.0549rem + 2.9268cqi, 2.25rem);

  /* ==== Typography ==== */
  /* @link https://utopia.fyi/type/calculator?c=380,12,1.2,1200,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--2: clamp(0.5208rem, 0.4285rem + 0.3886cqi, 0.72rem);
  --step--1: clamp(0.625rem, 0.4976rem + 0.5366cqi, 0.9rem);
  --step-0: clamp(0.75rem, 0.5762rem + 0.7317cqi, 1.125rem);
  --step-1: clamp(0.9rem, 0.6654rem + 0.9878cqi, 1.4063rem);
  --step-2: clamp(1.08rem, 0.7659rem + 1.3226cqi, 1.7578rem);
  --step-3: clamp(1.296rem, 0.8783rem + 1.7586cqi, 2.1973rem);
  --step-4: clamp(1.5552rem, 1.0031rem + 2.3246cqi, 2.7466rem);
  --step-5: clamp(1.8662rem, 1.1401rem + 3.0575cqi, 3.4332rem);

  --text-strong: bold;
  --text-semistrong: 400;

  /* ==== Border Radii ==== */
  /* PRIMITIVES */

  --border-s: 20px;
  --border-m: 30px;
  --border-round: 999px;

  /* TOKENS */

  --border-image: var(--border-s);
  --border-card: var(--border-s);
  --border-case-overview: var(--border-m);
  --border-button: var(--border-round);
  --border-input: var(--border-round);
  --border-green-box: var(--border-s);
  --border-icon: var(--border-round);

  /* ==== Padding og Gaps ==== */

  --card-padding: 2.75rem 2.1875rem;
  --card-gap: 1rem;

  /* === font === */
  --font-body: "Lato", sans-serif;
  --font-heading: "Cabin", sans-serif;
}

/* === font === */
/* Cabin */
@font-face {
  font-family: "Cabin";
  src: url("../assets/font/Cabin/Cabin-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabin";
  src: url("../assets/font/Cabin/Cabin-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabin";
  src: url("../assets/font/Cabin/Cabin-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Lato */
@font-face {
  font-family: "Lato";
  src: url("../assets/font/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/font/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
