---
const { href } = Astro.props;
const { theme = "default" } = Astro.props;
/* importer button komponent først. På knapper skriver jeg theme="hvadendforettheme" */
---

<a href={href} data-surface={theme}><slot /></a>

<style>
  @layer components {
    a[data-surface="default"] {
      text-decoration: none;
      width: fit-content;
      align-content: center;
      color: var(--color-text);
      padding: var(--button-padding);
      border-radius: var(--border-button);
      font-size: var(--step-0);
      --base-color: var(--color-on-ui-primary);

      background: color-mix(
        in oklab,
        var(--base-color),
        var(--mix-with, 0% #fff)
      );
    }

    a[data-surface="white"] {
      text-decoration: none;
      width: fit-content;
      align-content: center;
      color: var(--color-text);
      padding: var(--button-padding);
      border-radius: var(--border-button);
      font-size: var(--step-0);
      --base-color: var(--color-on-ui-primary);

      background: color-mix(
        in oklab,
        var(--base-color),
        var(--mix-with, 0% #fff)
      );

      &:hover {
        --mix-with: 10% #000;
      }

      &:active {
        --mix-with: 20% #000;
      }
    }

    a[data-surface="black"] {
      text-decoration: none;
      width: fit-content;
      align-content: center;
      color: white;
      padding: var(--button-padding);
      border-radius: var(--border-button);
      border: solid 1px white;
      font-size: var(--step-0);
      --base-color: black;

      background: color-mix(
        in oklab,
        var(--base-color),
        var(--mix-with, 0% #fff)
      );

      &:hover {
        --mix-with: 100% white;
        color: var(--color-text);
        border: solid 1px var(--color-ui-primary);
      }

      &:active {
        --mix-with: 90% #f6f6f6;
      }
    }

    a[data-surface="outline"] {
      text-decoration: none;
      width: fit-content;
      align-content: center;
      color: var(--color-text);
      padding: var(--button-padding);
      border-radius: var(--border-button);
      border: solid 1px var(--color-ui-primary);
      font-size: var(--step-0);
      --base-color: rgb(255, 255, 255);

      background: color-mix(
        in oklab,
        var(--base-color),
        var(--mix-with, 0% #fff)
      );

      &:hover {
        --mix-with: 40% #ffffffbd;
        color: var(--color-text);
        border: solid 1px black;
      }

      &:active {
        --mix-with: 20% #ffffff;
      }
    }

    a[data-surface="yellow"] {
      text-decoration: none;
      width: fit-content;
      align-content: center;
      color: var(--color-text);
      padding: var(--button-padding);
      border-radius: var(--border-button);
      font-size: var(--step-0);
      --base-color: var(--color-action);

      background: color-mix(
        in oklab,
        var(--base-color),
        var(--mix-with, 0% #fff)
      );

      &:hover {
        --mix-with: 5% #000;
      }

      &:active {
        --mix-with: 15% #000;
      }
    }
  }
</style>
