---
const { href } = Astro.props;
const { theme = "default" } = Astro.props;
/* importer button komponent først. På knapper skriver jeg theme="hvadendforettheme" */
---

<a href={href} data-surface={theme}><slot /></a>

<style>
  a[data-surface="default"] {
    width: fit-content;
    color: var(--color-text);
    padding: 0.8rem 1rem;
    border-radius: var(--border-button);
    font-size: var(--space-s);
    --base-color: var(--color-on-ui-primary);

    background: color-mix(
      in oklab,
      var(--base-color),
      var(--mix-with, 0% #fff)
    );
  }

  a[data-surface="white"] {
    width: fit-content;
    color: var(--color-text);
    padding: 0.8rem 1rem;
    border-radius: var(--border-button);
    font-size: var(--space-s);
    --base-color: var(--color-on-ui-primary);

    background: color-mix(
      in oklab,
      var(--base-color),
      var(--mix-with, 0% #fff)
    );

    &:hover {
      --mix-with: 10% #000;
    }

    &:active {
      --mix-with: 20% #000;
    }
  }

  a[data-surface="black"] {
    width: fit-content;
    color: white;
    padding: 0.8rem 1rem;
    border-radius: var(--border-button);
    font-size: var(--space-s);
    --base-color: black;

    background: color-mix(
      in oklab,
      var(--base-color),
      var(--mix-with, 0% #fff)
    );

    &:hover {
      --mix-with: 60% #414141;
    }

    &:active {
      --mix-with: 50% #646464;
    }
  }

  a[data-surface="outline"] {
  }
</style>
