---
import faqData from "../data/faq.json";
import AccordionContainer from "../components/AccordionContainer.astro";
---

<section>
  <h3>FAQ</h3>
  <h2>Customer Questions</h2>
  <AccordionContainer data={faqData.faq} exclusive={true} />
</section>

<style>
  section {
    margin: 3rem max(1rem, 50% - 1000px / 2);
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0 0 2rem;
    text-align: center;
  }
</style>
