---
import "../styles/global.css";

import ScrollingContainer from "../components/ScrollingContainer.astro";

import financialProjections from "@data/financialProjections.json";
import ArrowRight from "@icons/arrow--right.svg";
import ArrowLeft from "@icons/arrow-left.svg";
---

<section class="financial-projections">
  <div class="header">
    <div class="container-div">
      <div class="financial-text-div">
        <h3>{financialProjections.eyebrow}</h3>
        <h2>{financialProjections.title}</h2>
        <p>
          {financialProjections.subtitle}
        </p>
      </div>

      <div class="arrows">
        <ArrowLeft
          width={50}
          height={50}
          color="white"
          class="arrow-icon left"
        />
        <ArrowRight
          width={50}
          height={50}
          color="white"
          class="arrow-icon right"
        />
      </div>
    </div>
  </div>
  <ScrollingContainer financialProjections={financialProjections} />
</section>

<style>
  @layer components {
    section {
      grid-column: full-start / -1;
      margin-block: var(--section-spacing-m);

      .container-div {
        container-type: inline-size;
        display: flex;
        justify-content: space-between;
      }

      .header {
        grid-column: content;

        .financial-text-div {
          max-width: 600px;
        }

        .arrows {
          display: flex;
          gap: var(--space-xs);
          margin-top: auto;

          > * {
            background: var(--color-ui-primary);
            padding: var(--space-xs);
            border-radius: var(--border-round);
          }
        }
        @container (width < 680px) {
          .arrows {
            display: none;
          }
        }
      }
    }
  }
</style>

<script>
  const productContainers = [...document.querySelectorAll(".full-width")];
  const nxtBtn = [...document.querySelectorAll(".right")];
  const preBtn = [...document.querySelectorAll(".left")];

  productContainers.forEach((item, i) => {
    let cardWidth = item.querySelector("li").getBoundingClientRect().width;

    nxtBtn[i].addEventListener("click", () => {
      item.scrollLeft += cardWidth;
    });

    preBtn[i].addEventListener("click", () => {
      item.scrollLeft -= cardWidth;
    });
  });
</script>
