---
import "../styles/global.css";

import ScrollingContainer from "../components/ScrollingContainer.astro";

import financialProjections from "@data/financialProjections.json";
import ArrowRight from "@icons/arrow--right.svg";
import ArrowLeft from "@icons/arrow-left.svg";
---

<section class="financial-projections">
  <header>
    <div>
      <h3>{financialProjections.eyebrow}</h3>
      <h2>{financialProjections.title}</h2>
      <p>
        {financialProjections.subtitle}
      </p>
    </div>
    <div>
      <ArrowLeft width={25} height={25} class="arrow-icon left" />
      <ArrowRight width={25} height={25} class="arrow-icon right" />
    </div>
  </header>
  <ScrollingContainer financialProjections={financialProjections} />
</section>

<style>
  @layer components {
    .financial-projections {
      /*     display: grid;
      grid-template-columns: subgrid;
      grid-column: full-start / -1;

      header {
        grid-column: content;
      } */
    }
  }
</style>
