---
import "../styles/global.css";

import ScrollingContainer from "../components/ScrollingContainer.astro";

import financialProjections from "../data/financialProjections.json";
---

<section>
  <header>
    <h2>Financial Projections</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </header>

  <ScrollingContainer financialProjections={financialProjections} />
</section>
