---
import Button from "@components/Buttons.astro";
---

<footer>
  <section class="footer-container">
    <p class="footerp1">STAY UPDATED</p>
    <h2>Subscribe To Newsletter</h2>
    <p class="footerp2">
      Build stronger Customer Relationships with <span>Consultalk</span>
    </p>
    <div subscribe-container>
      <form class="form-container">
        <input type="email" placeholder="Your email adress" />
        <Button type="submit" class="subscribe-button" theme="yellow"
          >Subscribe</Button
        >
      </form>
    </div>
    <div class="footer-bottom">
      <h1>Ask<span>Experts</span></h1>
      <p class="rights">©2025 Consultalk. All rights reserved</p>
      <p class="terms">Terms of Service | Privacy Policy</p>
    </div>
  </section>
</footer>

<style>
  footer {
    background-color: var(--color-ui-primary);
    > * {
      grid-column: content;
    }

    .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-block: var(--step-0);
      gap: var(--space-xs);
    }
    .footerp1 {
      color: var(--color-action);
      font-size: var(--step-1);
      font-weight: 600;
      letter-spacing: 3px;
    }

    h2 {
      color: var(--color-on-ui-primary);
      font-size: var(--step-3);
    }

    .footerp2 {
      font-size: var(--step-0);
      p {
        color: var(--color-text-weak);
      }
      span {
        color: var(--color-action);
        font-weight: var(--text-strong);
      }
    }

    .form-container {
      display: flex;
      gap: 1rem;
    }

    input {
      padding: var(--button-padding);
      border-radius: var(--border-round);
      outline: none;
      border: solid 1px var(--color-on-ui-primary-muted);
      font-size: var(--step-0);
      color: var(--color-text-weak);
    }

    .footer-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;

      h1 {
        color: var(--color-on-ui-primary);
        font-size: var(--step-2);

        span {
          color: var(--color-action);
        }
      }

      .rights {
      }

      .terms {
      }
    }
  }

  @media (width < 870px) {
    .footer-bottom {
      display: grid !important;
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
  }
</style>
