---
import financialProjections from "@data/financialProjections.json";
import DynamicIcon from "@helpers/DynamicIcon.astro";
---

<ul class="full-width">
  {
    financialProjections.values.map((financial) => (
      <li class="card">
        <DynamicIcon name={financial.icon} class="financial-icon" />
        <h3>{financial.title}</h3>
        <p>{financial.description}</p>
      </li>
    ))
  }
</ul>

<style>
  @layer components {
    ul.full-width {
      grid-column: full-start / -1;
      padding-inline: max(0.5rem, 50% - var(--content-width) / 2);
      scroll-padding-inline: 2rem;
      overflow-inline: auto;
      scroll-snap-type: inline mandatory;

      list-style: none;

      display: flex;
      gap: 1rem;

      & li {
        flex: 1 0 400px;
        scroll-snap-align: center;
        padding: var(--card-padding);
        border-radius: var(--border-card);
        background-color: var(--color-surface-tertiary);
        color: var(--color-text);
      }
    }
  }
</style>
