---
import financialProjections from "@data/financialProjections.json";
import DynamicIcon from "@helpers/DynamicIcon.astro";
---

<ul class="full-width">
  {
    financialProjections.values.map((financial) => (
      <li>
        <DynamicIcon name={financial.icon} class="financial-icon" />
        <h3>{financial.title}</h3>
        <p>{financial.description}</p>
      </li>
    ))
  }
</ul>

<style>
  ul.full-width {
    padding-inline: max(1rem, 50% - var(--content-width) / 2);
    scroll-padding-inline: 2rem;
    overflow-inline: auto;
    scroll-snap-type: inline mandatory;

    list-style: none;
    grid-column: 1 / -1;

    display: flex;
    gap: 1rem;

    & li {
      flex: 1 0 500px;
      scroll-snap-align: center;
      padding: var(--card-padding);
      border-radius: var(--card-border-radius);
      background-color: var(--color-surface-tertiary);
      color: var(--color-text);
    }
  }
</style>
