---
const { service } = Astro.props;
import ArrowRight from "@icons/arrow--right.svg";
---

<article>
  <h2>{service.title}</h2>
  <p>{service.description}</p>
  <a href="#0">{service.buttonText} <ArrowRight stroke-width={2.5} /></a>
  <!-- <a> burde måske være en variant af en component -->
</article>

<style>
  @layer components {
    article {
      background: var(--color-blue-700-transparent);
      padding: var(--card-padding); /* Dette burde være en token */
      border-radius: var(--border-s); /* Dette burde være en token */

      h2,
      p {
        color: var(--color-on-surface-elevated);
      }
    }
    a {
      display: inline flex;
      gap: 1ch;
      color: var(--color-action);
      font-weight: bold;

      svg {
        inline-size: 16px;
      }
    }
  }
</style>
