---
import Employee from "./Employee.astro";
---

<section>
  <h2>Meet Our Great Team</h2>
  <p>
    Welcome to our amazing team! We are a group of passionate individuals
    dedicated to excellence and innovation. Each member brings unique skills and
    experiences, working together to achieve our goals. Join us as we embark on
    exciting projects and create lasting impacts.
  </p>
  <section class="employee-section">
    <Employee />
  </section>
</section>

<style>
  @layer components {
    .employee-section {
    }
  }
</style>
