---
import { Image } from "astro:assets";

import empoyeesImg from "@assets/images/img/empoyeesimg.png";
import Checkmark from "@icons/checkmark.svg";
---

<section>
  <div class="container">
    <div class="empoyeesImg">
      <Image src={empoyeesImg} alt="CEO" />
    </div>

    <div class="content">
      <p>WE'LL WORK WITH YOU</p>
      <h2>What To Expect</h2>

      <p>
        Our collaboration is built on transparency, efficiency, and measurable
        results. Together, we create strategies tailored to your unique needs
        and goals.
      </p>

      <ul class="ul-Expect">
        <li>
          <Checkmark width={32} height={32} color="green" class="my-icon" />
          Collaborate to build actionable strategies that drive sustainable growth
          and deliver tangible outcomes.
        </li>

        <li>
          <Checkmark width={32} height={32} color="green" class="my-icon" />
          Identify opportunities to optimize processes and implement impactful solutions
          with measurable results.
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  @layer components {
    :root {
      --image-width: 100%;
      --green-width: calc(var(--image-width) / 3);
    }

    section {
      padding: var(--section-spacing-l);
    }

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-template-rows: 1fr auto;
      gap: 1rem;
      padding: var(--section-padding-m);
      position: relative;
    }

    .empoyeesImg {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      z-index: 2;
      padding-block-end: var(--section-spacing-m);
    }

    .empoyeesImg::before {
      content: "";
      position: absolute;
      top: -30px;
      left: -30px;
      background: var(--color-ui-secondary);
      width: 40%;
      height: 50%;
      border-radius: 20px;
      z-index: -1;
    }

    .content {
      padding-inline: var(--space-m);
    }
    h2 {
      font-family: var(--font-heading);
      margin-block-start: var(--space-s);
      margin-block-end: var(--space-s);
    }
    p:has(+ h2) {
      color: var(--color-text);
      margin-block-start: calc(0.5cap - 0.2lh);
    }

    .ul-Expect {
      display: grid;
      gap: 1rem;
      padding: 0;
    }

    .ul-Expect li {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.8rem;
      align-items: start;
    }

    li {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 1rem;
      font-size: 1rem;
    }

    .my-icon {
      content: "";
      width: 1.6rem;
      height: 1lh;
    }

    /* Mobil */
    @media (max-width: 900px) {
      .container {
        grid-template-columns: 1fr;
        display: inline-block;
        max-width: 100%;
      }
    }
  }
</style>
