---
import { Image } from "astro:assets";

import empoyeesImg from "@assets/images/img/empoyeesimg.png";
import Checkmark from "@icons/checkmark.svg";
---

<section class="imgages">
  <div class="empoyeesImg">
    <Image src={empoyeesImg} alt="CEO" />
  </div>

  <div>
    <p>WE'LL WORK WITH YOU</p>
    <h2>What To Expect</h2>

    <p>
      Our collaboration is built on transparency, efficiency, and measurable
      results. Together, we create strategies tailored to your unique needs and
      goals.
    </p>
    <ul class="ul-Expect">
      <li>
        <Checkmark width={32} height={32} color="green" class="my-icon" />
        Collaborate to build actionable strategies that drive sustainable growth and
        deliver tangible outcomes.
      </li>

      <li>
        <Checkmark width={32} height={32} color="green" class="my-icon" />
        Identify opportunities to optimize processes and implement impactful solutions
        with measurable results.
      </li>
    </ul>
  </div>
</section>

<footer>
  <p>ldjfhaslkdjhasdjhasdljhasdkjhasdjhsdkljæfhæljdsfh</p>
</footer>

<style>
  @layer components {
    .imgages {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      align-items: center;
    }

    .empoyeesImg {
      position: relative;
      isolation: isolate;
    }

    .empoyeesImg::before {
      content: "";
      position: absolute;
      top: -2rem;
      left: -2rem;
      background: var(--color-ui-secondary);
      width: 140px;
      height: 140px;
      z-index: -1;
      border-radius: 20px;
    }

    h2 {
      font-size: xx-large;
    }

    p:has(+ h2) {
      color: var(--color-text);
      letter-spacing: 0.08em;
      text-transform: uppercase;
      font-weight: 600;
    }

    .ul-Expect {
      display: grid;
      gap: 1rem;
      padding: 0;
    }
    .ul-Expect li {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 1rem;
    }

    .my-icon {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  /* @layer components {
   
    .imgages {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr auto 1fr;

      gap: 3rem;
      align-items: center; */

  /* display: grid;
      grid-template-columns:; 
      [full-start] 1fr [content-start] minmax(0, var(--content-width))
        [content-end]
        1fr [full-end];  
       > * {
        grid-column: content-start / content-end;
      } 
    } */
  /* .empoyeesImg {
      position: relative;
      isolation: isolate;
    }

    .empoyeesImg::before {
      content: "";
      position: absolute;
      top: -2rem;
      left: -2rem;
      background: var(--color-ui-secondary);
      width: 140px;
      height: 140px;
      z-index: -1;
      border-radius: 20px;
    }

    h2 {
      font-size: xx-large;
    }
    p:has(+ h2) {
      color: var(--color-text);
    }

    .ul-Expect {
      display: grid;
      gap: 1rem;
      padding: 0;
    }

    .ul-Expect li {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.8rem;
      align-items: start;
    }

    li {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 1rem;
      font-size: 1rem;
    }

    .my-icon {
      content: "";
      width: 1.6rem;
      height: 1lh;
    }
  } */
</style>
